.footer-container{
    background-color:rgba(250, 215, 220, 0.447) ;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 4em;
    padding-right: 4rem;
   margin-bottom: 0;
   margin-top: 2rem;
   align-self: flex-end;
   
}

.git{
    background-color:#212121ab;
    border-radius: 4rem;
    height: 2rem;
}

.name {
    color: #212121da;
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
}
