.profile-dropdown {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.715);
   
  display: flex;
  flex-direction: column;

  right: 0;
  top: 0;
  z-index: 1;
  gap: 10px;
}

.pink-border{
   border: 2px solid rgba(250, 215, 220, 0.681) ;
     width: 10rem;
  height: 5rem;
  padding: 10px;
  display: flex;
    flex-direction: column;
    gap: 10px; 
    border-radius: 10px;
}

.profile-dropdown button{
  background-color: rgba(250, 215, 220);
    border: none;
    color: #212121da;
    font-family: "Avenir Next", sans-serif;
    letter-spacing: .065em;
    width: 5rem;
    height: 2rem;
    border-radius: 10px;  
}

.profile-dropdown button:hover{
  cursor: pointer;
}

.user-buttons{
display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-end;
margin-top: 1rem;
margin-right: 10px; 
}

.profile-icon{
  width: 1.5rem;
  height: 1.5rem;
  /* border: 2px solid blue; */
  position: absolute;
    top: 2.5rem;
    right: -2.5rem;
    position: absolute;
    z-index: 999;
}

.profile-icon:hover{
cursor: pointer;
}

.column{
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.sub-nav-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 4rem; */
  /* position: relative;
  z-index: 1; */
  
}

.sub-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 3rem; */
  gap: 3rem;
  margin-left: 30px;
position: relative;
/* height: 4rem; */
margin-top: 5px;
}


.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  height: 14rem;
  align-items: center;
  width: 100%;
 
}

.icons{
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  right: 8rem;
  margin-top: 14.6rem;
  /* gap: 5px; */
  height:10rem;
  /* padding-right: 5rem;
  padding-top: 8rem; */
}


a{
  text-decoration: none;
  color: black;
  font-size: 17px;
}


.fa-user  {
  font-size: 26px; 
  color: rgb(165, 161, 161);

}

.fa-shopping-cart{
  font-size: 22px;
    color: rgba(0, 0, 0, 0.578);
    padding-right: 5px;
    
}

.profile-button{
background-color: transparent;
border: none;

}

.logo{
  width: 23rem;
  height: 17rem;
 margin-top: 1rem;

}


.main-nav {

  display: flex;
  flex-direction: column;
  height: 17.5rem;
  font-family: "Avenir Next", sans-serif;
  font-size: 15px;
  position: relative;
    /* Add position: relative; */
    z-index: 2;
    margin-bottom: 1rem;
}



body{
    margin: 0;
    background-image: url('../../assets/clear.png');
    background-size: 100% 140px;
    background-position: bottom center 0;
    background-repeat: no-repeat;
    z-index: 1;
    font-family: "Avenir Next", sans-serif;
}

.category-down{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  background-color: white;
  border-radius: 8px;
  width: 10rem;
  height: 12rem;
  padding: 12px;
  justify-content: center;
}

.sub-nav>details {
  position: absolute;
  left: 40%;
  
}

.sub-nav:hover{
  cursor: pointer;
  
}

details>summary::marker {
color: lightgrey;
}

.home-text{
  font-family: "Avenir Next", sans-serif;
  font-size: 15px;
  padding-left: 1.8rem;
 /* padding-left: 5rem; */
}

.testi{
  font-family: "Avenir Next", sans-serif;
  font-size: 15px;
  margin-left: 11rem;
}

.cart{
  font-family: "Avenir Next", sans-serif;
    font-size: 15px;
    position: absolute;
      z-index: 999;
    margin-left: 10px;

    /* padding-top: 5rem; */
    /* padding-left: 17rem; */
}

.move-left{
  padding-right: 3rem;
  padding-top: 2rem;
  margin-right: 2rem;
}

html{
  /* border: 2px solid red ; */
  height: 50%;
  width: 100%;
}

#root{
  /* border: 3px solid blue; */
  height: 100%;
}

body{
  /* border: 3px solid yellow; */
  height: 100%;
  width: 100%;
}


.main-account{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.main-account2{
  align-items: center;
  display: flex;
  justify-content: center;

}

.main-account2 h2{
    font-family: "Monotype Bodoni", serif;
    font-weight: 10;
    color: #212121;
}

.main-account-body{
  margin-left: 20rem;
 margin-top: 2rem;
    color: #212121da;
      font-family: "Avenir Next", sans-serif;
      font-size: 16px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: auto;
}

html{
  height: 80%;
}

.main-account h4{
font-family: "Monotype Bodoni", serif;
  font-weight: 10;
  font-size: 19px;
  color: #212121;
 margin-top: 0;
 margin-bottom: 0;

}