.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.sub-nav-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
 margin-top: 4rem;
  position: relative;
   
    z-index: 9999;
  
}

.sub-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3.5rem;
  gap: 30px;
  margin-bottom: 4rem;

}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  height: 7rem;
  align-items: center;
  width: 100%;
 
/* padding-right: 6rem; */

}

.icons{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  padding-right: 5rem;
  padding-top: 8rem;
}


a{
  text-decoration: none;
  color: black;
  font-size: 17px;
}


.fa-user  {
  font-size: 24px; 
  color: rgba(0, 0, 0, 0.578)

}

.fa-shopping-cart{
  font-size: 22px;
    color: rgba(0, 0, 0, 0.578);
    padding-right: 5px;
    
}

.profile-button{
background-color: transparent;
border: none;

}

.logo{
  width: 23rem;
  height: 16rem;
 margin-top: 8rem;

}


.main-nav {

  display: flex;
  flex-direction: column;
  height: 19rem;
   
}



.nav h1{
  color: #D4AF37;
  font-family: Apple Chancery, cursive;
  font-size: 3rem;
}

body{
    margin: 0;
    background-image: url('../../assets/clear.png');
    background-size: 100% 140px;
    background-position: bottom center 0;
    background-repeat: no-repeat;
    z-index: 1;
}

.category-down{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  border: 1px solid gray;
}

.order-nav{

}

.order-dropdown {
  display: inline-block;
  position: relative;
  z-index: 999;
}

.order-dropdown .category-down {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 999;
}

.order-dropdown:hover .category-down {
  display: block;
}

