.main-cakes-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
margin: 3rem;
margin-top: 3rem;
}

.cake-img{
    width: 15rem;
    height: 16rem;
}

.single-cake-img{
    width: 25rem;
}

.main-single-container{
    display: flex;
    flex-direction: row;
    margin: 3rem;
}

.custom-container{
    margin-top: 10rem;
}