.main-cakes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  margin: 2rem;
  margin-top: 3rem;
  height: auto;
  /* border: 1px solid blue; */
}

.cake-img {
  width: 18rem;
  height: 14rem;
  object-fit:cover;
  overflow: hidden;
   transition: transform 0.3s ease;

}

.single-cake-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.cake-img:hover {
  transform: scale(1.05);
  /* Zoom the image by 10% when hovering */
}

.single-cake-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #212121da;
  font-family: "Avenir Next", sans-serif;
  /* border: 2px solid green; */
  
}

.single-cake-home p{
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
      color: #212121da;
        font-family: "Avenir Next", sans-serif;
        position: relative;
}



.all-cakes-text {
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  text-align: center;
  font-size: 16px;
  color: #212121;
  margin-top: 3rem;
  padding-left: 1rem;
  line-height: 24px;
}

.all-cakes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
}

.main-single-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 4rem; */
  margin-left: 4rem;
  margin-right: 4rem;
  /* border: 2px solid red; */
  border-top: 1px solid lightgrey;
  height: 120%;
  padding-top: 4rem;
  margin-top: 2rem;
  margin-bottom: 9rem;
}

.custom-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.cake-info {
  width: 21rem;
  /* border: 2px solid blue; */
  text-align: left;
  color: #212121da;
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.img-container2 {
  /* border: 2px solid pink; */
  width: 35rem;
  height: 38rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


.heart-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  cursor: pointer;
  font-size: 25px;
  color: white;
  transition: color 0.3s, transform 0.3s; /* Added transition for transform */
}

.heart-icon.favorite {
  color: red;
  cursor: pointer;
  transform: scale(1.2); /* Added initial zoom effect for favorite */
}

.heart-icon.zoom-animation {
  animation: zoomInOut 0.3s ease-in-out; /* Keyframe animation for zoom */
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1); /* Normal size */
  }
  25%, 75% {
    transform: scale(1.5); /* Zoom out */
  }
  50% {
    transform: scale(0.8); /* Zoom in */
  }
}

.heart-icon:hover {
  transform: scale(1.2); /* Apply zoom effect on hover */
}

.heart-icon.favorite:hover {
  transform: scale(1); /* Apply original size on hover for favorite */
}

.cake-img-container {
  position: relative;
  display: inline-block;
}


.heart-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  cursor: pointer;
  font-size: 25px;
  color: white;
  transition: color 0.3s, transform 0.3s;
}

.heart-icon.favorite {
  color: red;
  cursor: pointer;
  transform: scale(1);
}

.heart-icon.zoom-animation {
  animation: zoomInOut 0.3s ease-in-out;
}

@keyframes zoomInOut {

  0%,
  100% {
    transform: scale(1);
  }

  25%,
  75% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(0.8);
  }
}

.cake-img-container {
  position: relative;
  display: inline-block;
}

