.rating-input .filled {
    color: goldenrod;
}

.rating-input .empty {
    color: rgba(250, 215, 220, 0.565);

}

.rating-input {
    display: flex;
    flex-direction: row;
    gap: 2px;
}


.starsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
   padding: 0;
   margin: 0;

}



#modal-content{
    border-radius: 15px;
}


.reviewContainer {
    width: 26rem;
    height: 21rem;
    border-radius: 15px;
    font-family: sans-serif;
    border: 3px solid lightgray;
    color: #212121da;
        font-family: "Avenir Next", sans-serif;
      padding-left: 1rem;
      padding-right: 1rem;
}

.reviewForm {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #212121da;
        font-family: "Avenir Next", sans-serif;
    
  
}

.starsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}

.submitReview {
background-color: rgba(250, 215, 220, 0.681);
    border: none;
    color: #212121da;
    font-family: "Avenir Next", sans-serif;
    letter-spacing: .065em;
    cursor: pointer;
    width: 10rem;
    margin-top: 10px;
    width: 15rem;
    height: 2.5rem;
}

*:disabled {
background-color: rgba(250, 215, 220, 0.681);
    border: none;
    color: #212121da;
    font-family: "Avenir Next", sans-serif;
    letter-spacing: .065em;
    cursor: pointer;
    width: 15rem;
}

#modal-content {
    border-radius: 15px;
}


.signError {
    color: #d32f2f;
    font-family: "Avenir Next", sans-serif;
   margin: 5px;
   font-family: 10px;
}

.big-star i{
height: 2rem;
}

.post-img{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 0;
    height: 2rem;
    align-items: center;
    gap: 10px;
}

.img-input{
    border: 1px solid lightgrey;
    color: #212121da;
    font-family: "Avenir Next", sans-serif;
    outline: none;
}
